<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudbase.system.mapper.SysUserMapper">

    <resultMap id="SysUserResult" type="com.cloudbase.system.entity.SysUser">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="avatar" column="avatar"/>
        <result property="sex" column="sex"/>
        <result property="status" column="status"/>
        <result property="deptId" column="dept_id"/>
        <result property="lastLoginIp" column="last_login_ip"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="loginCount" column="login_count"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="deleted" column="deleted"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="selectByUsername" resultMap="SysUserResult">
        SELECT * FROM sys_user WHERE username = #{username} AND deleted = 0
    </select>

</mapper>
